<form >
    <div class="row">
      <div class="col" class="centrado">
        <h3 class="mt">CREAR / EDITAR ADMIN</h3>
        <label for="dni">DNI *:</label>
        <input type="text" name="dni" id="dni" [(ngModel)]="formulario.dni">
        <hr class="separadorB">
        <label for="pass">Pass *:</label>
        <input type="text" name="pass" id="pass" [(ngModel)]="formulario.pass">
        <hr class="separadorB">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" [(ngModel)]="formulario.nombre">
        <hr class="separadorB">
        Obligatorio sólo si quieres modificar/borrar un Administrador
        <label for="id">ID:</label>
        <input type="text" name="id" id="id" [(ngModel)]="formulario.id">
      </div>
      <div class="col" class="centrado">
        <button (click)="nuevoAdmin()">NUEVO</button>
        <button (click)="editAdmin()">EDITAR</button>
        <button (click)="borrarAdmin()">BORRAR</button>
      </div>
      <hr class="separadorF">
    </div>
  </form>
  
  <div class="centrado">
    <h3 style="color: white;">LISTA DE ADMINISTRADORES</h3>
    <hr>
    <ul *ngFor="let admin of admins" style="color: white;">
      <li class="grid grid-pad">
        ID: {{ admin.Id }} - {{ admin.Dni }} - {{ admin.Nombre }}
      </li>
    </ul>
  </div>
